* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .14rem;
}

html {
    font-size: 625%;
}

a {
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul li,
ol li {
    list-style: none;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    .activeshow {
        right: 0;
        transition: right 1s ease;
    }
    .activehide {
        right: -75%;
        transition: right 1s ease;
    }
}

.wrapper .box {
    width: 100%;
    height: 100%;
    display: flex;
    .indexlist {
        width: 94%;
        height: 100%;
        height: auto;
        position: absolute;
        .listleft {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border-bottom: solid .01rem #ccc;
            h6 {
                width: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 16%;
                    height: auto;
                    padding: .15rem;
                }
                span {
                    font-weight: normal;
                    font-size: .18rem;
                }
            }
            p {
                width: 100%;
                height: .3rem;
                line-height: .5rem;
                background: #f4f4f4;
                text-indent: .19rem;
                font-size: .14rem;
            }
        }
    }
    .indexright {
        width: 6%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .indexrightbox {
            width: 6%;
            //background: orange;
            position: fixed;
            top: 9%;
            right: 0;
            overflow: hidden;
        }
        li {
            width: 100%;
            display: flex;
            height: .15rem;
            margin: .1rem 0;
            justify-content: center;
            // padding: .1rem 0;
            font-size: .12rem;
        }
    }
}